* {
  background-color: rgb(26, 25, 25);
  margin: 0;
  padding: 0;
  color: white;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
}
h6 {
  text-align: center;
  padding: 10px;
  font-weight: 800;
}
